@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body: "Roboto", sans-serif;
$font-display: "Dancing Script", cursive;

$color-primary: #28527a;
$color-secondary: #f0a500;
$color-black: #333333;
$color-white: #fafafa;
$color-grey: #DCDCDC;
$color-blue: #1E90FF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $color-black;
}

a:link, a:visited {
  text-decoration: none;
}
