nav {
  height: 10vh;
  background-color: $color-primary;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-display;
  font-size: 20px;
  color: $color-white;
}

.button {
  display: block;
  width: 100px;
  background-color: $color-secondary;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-white;
}

div {
    text-align: center;

    h1 {
      color: $color-primary;
      font-size: 50px;
    }

    h2 {
      font-family: $font-display;
      font-size: 25px;
      margin: 20px 0;
    }

    a {
      margin: 0 auto;
    }
  }

form {
  height: 300px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $color-black;
  background-color: $color-grey;

  .form__div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__label {
    font-family: $font-body;
    font-size: 25px;
  }

  .form__input {
    margin-top: 5px;
    padding: 10px 10px;
    width: 300px;
  }

  .form__submit {
    background-color: $color-blue;
    border: 1px solid $color-primary;
    color: $color-white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 300px;
    font-size: 16px;
  }
}

section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: $font-display;
    font-size: 25px;
  }

  .section__link {
    margin: 5px 0;
    display: block;
    width: 100px;
    background-color: $color-white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-primary;
    border: 1px solid $color-primary;
  }
}


footer {
  height: 10vh;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
    p{
      margin: 0;
      color: $color-white;
    }
}
