header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 90vh;
}
