* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}


section {
  width: 100%;

  div {
    width: 33%;
    height: 100px;
    display: inline-block;
  }

  div:nth-child(1){
    background-color: red;
  }

  div:nth-child(2){
    background-color: orange;
  }

  div:nth-child(3){
    background-color: yellow;
  }
}

@media screen and (max-width: 768px){
    section {
      div {
        width: 100%;
      }
    }
}
